<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    >
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="wordpress-hooks">
            <directory suffix="Test.php">./tests/wordpress-hooks</directory>
        </testsuite>
    </testsuites>
</phpunit>
